<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
    <head>
        <title>Login</title>
        <link th:href="@{/css/login.css}" rel="stylesheet">
    </head>
    <body>
        <div layout:fragment="content">
            <p class="error" th:if="${param.error}">Incorrect Password</p>
            <p><label for="password">Password</label></p>
            <form th:action="@{/login}" method="post">
                <input type="password" id="password" name="password"/>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>