<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
    <head>
        <title>New Resource</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Upload resource</h1>
            <form enctype="multipart/form-data" method="post" th:action="${action}">
                <input id="fileupload" name="file" type="file">
                <button type="submit" value="submit">Submit</button>
            </form>
        </div>
    </body>
</html>